**/bin/
**/obj/
**/logs/
**/*.user
**/*.suo
**/*.cache
**/*.log
**/.vs/
**/.git/
**/.gitignore
**/.idea/
**/*.md
**/*.ps1
**/*.sh
**/docker-compose.override.yml
**/docker-compose.*.yml
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/dist/
**/coverage/
**/.env
**/.env.*
